@media only screen {
	.areas-served-hero{
		overflow: hidden;
		min-height: 320px;
	}
	.areas-served-hero-map{
		width: 100%;
		height: 100%;
		position: relative;
	}
	.areas-served-areas-grid{
		padding: 20px;
	}
	.areas-served-hero-text{
		z-index: 2;
		text-align: center;
	}
	.areas-served-hero-tint{
		z-index: 1;
	}
	.areas-served-areas-grid-imagecontainer{
		width: 100%;
		height: auto;
		position: relative;
		display: block;
		text-decoration: none;
		&:not(:last-child){
			padding-bottom: 20px;
		}
	}
	.areas-served-areas-grid-imagecontainer-image{
		width: 100%;
		height: 240px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	.areas-served-areas-grid-imagecontainer-citystate{
		position: relative;
		z-index: 2;
		color: black;
		font-size: 1.8rem;
		text-transform: uppercase;
		text-align: center;
		pointer-events: none;
		background-color: $light-grey;
		padding: 40px 20px;
		line-height: 1.5;
	}
}

@media only screen and (min-width: $medium){
	.areas-served-areas-grid{
		font-size: 0;
	}
	.areas-served-areas-grid-imagecontainer{
		display: inline-block;
		width: calc(50% - 10px);
		height: calc(50vw - 10px);
		margin: 5px;
	}
	.areas-served-areas-grid-imagecontainer-citystate{
		font-size: 2rem;
	}
}

@media only screen and (min-width: $large){
	.areas-served-hero{
		min-height: 480px;
	}
	.areas-served-areas-grid{
		max-width: 1000px;
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
		text-align: center;
		padding: 80px 0;
	}
	.areas-served-areas-grid-imagecontainer{
		display: inline-block;
		width: calc(50% - 10px);
		height: auto;
		overflow: hidden;
		&:not(:last-child){
			padding-bottom: 0;
		}
		&:hover{
			.areas-served-areas-grid-imagecontainer-image{
				@include transform(scale(1.15));
			}
			.areas-served-areas-grid-imagecontainer-tint{
				background-color: rgba(0,0,0,0.35);
			}
		}
	}
	.areas-served-areas-grid-imagecontainer-tint{
		background-color: rgba($primary, 0.35);
		@include transition(background-color 0.5s ease);
	}
	.areas-served-areas-grid-imagecontainer-image{
		@include transition(transform 0.5s ease);
	}
	.areas-served-areas-grid-imagecontainer-citystate{
		padding: 20px;
	}
}