@media only screen {
	.home-hero,
	.home-hero-tint{
		height: 80vh;
	}
	.home-hero-text-button{
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		background-color: $primary;
		padding: 15px 20px;
		margin-top: 20px;
		display: inline-block;
	}
	.home-hero-text{
		top: auto;
		bottom: 40px;
		width: 100%;
		text-align: center;
		@include transform(translateX(-50%));
		left: 50%;
	}
	.home-hero-text-button{
		border-radius: 4px;
		font-weight: 400;
		color: white;
	}
}

@media only screen and (min-width: $large){
	.home-hero-text{
		max-width: 1440px;
		text-align: left;
		padding: 0 40px;
		box-sizing: border-box;
	}
	.home-hero-text-button{
		font-size: 2.4rem;
		font-weight: normal;
	}
}
