@media only screen {
	.services-services{
		padding: 20px;
	}
	.services-services-grid-item{
		padding-bottom: 40px;
		margin: 0 auto;
		max-width: 320px;
	}
	.services-services-grid-item-imagecontainer{
		max-height: 205px;
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;
	}
	.services-services-grid-item-imagecontainer-image{
		width: 100%;
	}
	.services-services-grid-item-header{
		background-color: transparent;
		padding: 5px 10px;
		font-size: 2rem;
		font-family: $body;
		text-align: center;
		margin: 5px 0;
	}
	.services-services-grid-item-descriptioncontainer-description{
		padding: 10px;
		font-size: 1.6rem;
		text-align: center;
		line-height: 24px;
	}
	.services-services-grid-item-pricecontainer{
		padding: 0 10px 10px 10px;
	}
	.services-services-grid-item-pricecontainer-price{
		font-size: 3.6rem;
		text-align: center;
	}
}

@media only screen and (min-width: $medium){
	.services-services-grid{
		max-width: 720px;
		margin: 0 -20px;
		font-size: 0;
		text-align: center;
		position: relative;
		left: calc(50% + 20px);
		@include transform(translateX(-50%));
	}
	.services-services-grid-item{
		width: calc(50% - 20px);
		margin: 10px;
		display: inline-block;
		box-sizing: border-box;
	}
	.services-services-grid-item-textcontainer{
		text-align: left;
	}
}

@media only screen and (min-width: $large){
	.services-services-grid{
		max-width: 1000px;
	}
	.services-services-grid-item{
		display: block;
		width: 100%;
		max-width: none;
	}
	.services-services-grid-item--invert{
		@include transform(rotate(180deg));
		padding-bottom: 0px;
		padding-top: 40px;
		.services-services-grid-item-imagecontainer,
		.services-services-grid-item-wrapper{
			@include transform(rotate(180deg));
		}
		.services-services-grid-item-wrapper{
			padding-left: 0;
			padding-right: 20px;
		}
		.services-services-grid-item-header,
		.services-services-grid-item-descriptioncontainer-description,
		.services-services-grid-item-pricecontainer{
			padding-left: 0px;
		}
	}
	.services-services-grid-item-descriptioncontainer-description{
		text-align: left;
	}
	.services-services-grid-item-imagecontainer,
	.services-services-grid-item-wrapper{
		display: inline-block;
		vertical-align: middle;
	}
	.services-services-grid-item-imagecontainer{
		width: 40%;
		max-height: none;
	}
	.services-services-grid-item-wrapper{
		width: 60%;
		padding-left: 20px;
		box-sizing: border-box;
	}
	.services-services-grid-item-header,
	.services-services-grid-item-descriptioncontainer,
	.services-services-grid-item-pricecontainer-price{
		text-align: left;
	}
	.services-services-grid-item-pricecontainer-price{
		font-size: 2.4rem;
	}
}